* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.to-do-wrapper {
    width: 300px;
    background-color: #FBF5DD;
    margin-top: 50px;

    @media (min-width: 768px){
        width: 600px;
    }

    @media (min-width: 1440px){
        width: 1000px;
        }
}

.to-do-heading {
    margin: 20px;
}

.header {
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 40px;

    @media (min-width: 768px){
        flex-direction: row;
        column-gap: 20px;
    }
}

.task-status-btn {
    width: 200px;

    @media (min-width: 768px){
        width: 110px;
    }
    
}

@media (min-width: 768px){
    .btn-danger {
        width: 150px;
    }
}



